.new-routine {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  > .container-icon {
    width: 50%;
    justify-content: start;
    display: flex;
  }

  > .container-added-exercises {
    width: 50%;
    min-height: 300px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .subtitle {
      font-size: 1.125rem;
      width: 50%;
      display: flex;
      justify-content: center;
      color: #5f5f5f;
      font-weight: 500;
      text-align: center;
    }
    > .container-btns {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    > .content {
      max-height: 450px;
      overflow: auto;
      width: 100%;
      padding-right: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      > .ant-card {
        > .ant-card-body {
          .ant-table-wrapper {
            padding-top: 10px;
            max-height: 180px;
            overflow: auto;
          }
          > .btn-add-serie {
            font-size: 0.75rem;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.ant-modal-content {
  .ant-modal-body {
    > .ant-btn {
      font-size: 0.75rem;
      height: 30px;
      margin-bottom: 20px;
    }
    > .container-cards {
      max-height: 200px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-right: 10px;
      &.loading {
        overflow: hidden;
      }
      > .ant-card {
        border-color: #b9b9b9;
        cursor: pointer;

        .ant-card-meta-title {
          font-size: 0.875rem;
          margin-bottom: 5px;
        }

        .ant-card-meta-description {
          p {
            font-size: 0.75rem;
          }
        }

        .ant-card-actions {
          border-color: #b9b9b9;

          > li {
            &:not(:last-child) {
              border-color: #b9b9b9;
            }
          }
        }
      }
    }
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: end;
    }
  }
}
